.container {
    height: 100vh;
    background: url(/assets/images/home_beach.jpeg) no-repeat;
    background-size: cover;
}
.book-now-container {
    padding: 35px 115px 0 0;
}
.book-now-button {
    wodth: 170px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
}
// .header-container {
//     height: 100vh;
// }