<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book now
            </button>
        </div>
    </div>
    <div class="header-container" fXFlex fxLayout="column" fxLayoutAlign="center center">
        <h2 class="mat-display-1"> 
            Luxury Beach Front Resort
        </h2>
        <h1 class="mat-display-4"> 
            Hotel Beach <br/> Resort &amp;Spa
        </h1>
    </div>
    <div class="thailand">
        <h3>thailand</h3>
    </div>
</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div> 
            <h2 class="mat-subheading-2">
                Luxury Beach Front Resort
            </h2>
        </div>
        <div> 
            <h3 class="mat-subheading-3">
                Asia's Tropical Paradise
            </h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div> 
    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suites</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Beach &amp; Hauses</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>

