<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="book-now-button" mat-stroked-button color="primary">
                Book now
            </button>
        </div>
    </div>
    <div class="header-container" fXFlex fxLayout="column" fxLayoutAlign="center center">
        <h2 class="mat-display-1"> 
            Luxury Beach Front Resort
        </h2>
        <h1 class="mat-display-4"> 
            Hotel Beach <br/> Resort &amp;Spa
        </h1>
    </div>
    <div class="thailand">
        <h3>thailand</h3>
    </div>
</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div> 
            <h2 class="mat-subheading-2">
                Luxury Beach Front Resort
            </h2>
        </div>
        <div> 
            <h3 class="mat-subheading-3">
                Asia's Tropical Paradise
            </h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div> 
    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="rooms-suites">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suites</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="beach-houses">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Beach &amp; Hauses</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div> 
            <h3 class="mat-subheading-3">
                Food and Beverage
            </h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="food" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
            <mat-card class="pool-bar">
                <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                    <h2>Pool bar</h2>
                </mat-card-header>
            </mat-card>
    
            <mat-card class="restaurant">
                <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                    <h2>Restaurant</h2>
                </mat-card-header>
            </mat-card>
    
            <mat-card class="tapas-lounge">
                <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                    <h2>Tapas Lounge</h2>
                </mat-card-header>
            </mat-card>
        </div>
    </div> 
    <div fxLayout="column" fxLayoutAlign="center center">
        <div> 
            <h3 class="mat-subheading-3">
                Lifestyle
            </h3>
        </div>
        <div>
            <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="lifestyle" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
            <mat-card class="spa">
                <mat-card-header>
                    <mat-card-title>Wellness &amp; Spa</mat-card-title>
                    <mat-card-subtitle>Ayurveda & Wellness Consultation</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/spa.jpg" alt="Photo Spa">
                <mat-card-content>
                    <p>
                        Ayurveda massage combines the essence of nature and purity in its masterful signature massages, body scrubs, wraps, facials, bath, and spa packages for everlasting tropical indulgence.
                    </p>
                </mat-card-content>
            </mat-card>
    
            <mat-card class="massage">
                <mat-card-header>
                    <mat-card-title>Beach Massage</mat-card-title>
                    <mat-card-subtitle>A diving experience</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/massage.jpg" alt="Photo Massage">
                <mat-card-content>
                    <p>
                        This exclusive beach resort combines all the right ingredients - subtle five star comforts, natural beauty and lots of space. Located well distant from crowded beaches and resorts, the only sound is that of the waves sliding in and out and slowly breaking onto the sandy shore. 
                    </p>
                </mat-card-content>
            </mat-card>
    
            <mat-card class="relax">
                <mat-card-header>
                    <mat-card-title>Sightseeing</mat-card-title>
                    <mat-card-subtitle>In and Around Natai Beach Resort & Spa, Thailand</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/relax.jpg" alt="Photo Sightseeing">
                <mat-card-content>
                    <p>
                        A  marvelous combination of sightseeing and nightlife, eco-tourism, shopping, island-hopping and people-watching. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div> 

</section>

